{% extends 'base.html' %} {% block head %}
<title>Scores</title>
{% endblock %} {% block body %}
<h1>SCORES!</h1>
<div id="chart"></div>
{% endblock %} {% block scripts %}
<!-- Load ApexCharts library -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const options = {
      chart: {
        type: 'line'
      },
      series: [{
        name: 'Scores',
        data: JSON.parse('{{ scores_data|tojson }}')
      }],
      xaxis: {
        categories: JSON.parse('{{ scores_dates|tojson }}')
      },
      yaxis: {
        title: {
          text: 'Score'
        }
      },
      xaxis: {
        title: {
          text: 'Distribution of Scores'
        }
      }
    };

    const chartContainer = document.querySelector('#chart');
    const chart = new ApexCharts(chartContainer, options);
    chart.render();
  });
</script>
{% endblock %}
