{% extends 'base.html' %}

{% block head %}
<title>Math Test</title>
{% endblock %}

{% block body %}
<h1>Answer the following questions:</h1>
<h3>Make sure to only use numerical characters</h3>

<form method="POST" action="/test">
    <table>
        {% for q in questions %}
        <tr>
            <td>
                <label for="answer_{{q.id}}">{{ q.question }}</label>
            </td>
            <td>
                <input type="text" id="answer_{{q.id}}" name="answer_{{q.id}}">
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2" style="text-align: center;"> <!-- Center the button and span it across both columns -->
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
